/** normalize , los imports siempre van por encima del reset! **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** jugar con dos fuentes una para los titulos y otra para los textos, jugar con grosores y tamaños 
usar de 4px en 4px

/**
    fuentes


    colores (color hunt)


**/